<div class="jumbotron text-center">
    <h1>Generador de claves</h1>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <div ng-show="error2" class="alert alert-danger">{{errorMessage2}}</div>
    <div ng-show="success" class="alert alert-success">{{successMessage}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-6" for="nClave">Número de claves (num Jefes):</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" min= "3" id="nClave" placeholder="Number" ng-model="configForm.nClave" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-6"  for="nMin">Mínimo de claves para Dcrypt:</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" min = "2" id="nMin" placeholder="Number" ng-model="configForm.nMin" required>
            </div>
        </div>
        <div class="form-group">
            <div>
                <button type="config" ng-click="maxNum()" class="btn btn-success">Generar Claves</button>
            </div>
        </div>
<br>
        <div>
            <table class="table table-striped">
                <tr class="info">
                    <td>Claves </td>
                </tr>
                <tr ng-repeat="key in SplitsharedSecret">
                    <td><textarea rows="5" cols="125">{{key}}</textarea></td>
                </tr>
            </table>
        </div>

    </form>
</div>