<div class="jumbotron text-center" ng-controller="usersController">
    <h1>Users</h1>
    <div>
        <table class="table table-striped">
            <tr class="info">
                <td>User</td>
                <td>ID</td>
                <td>Verificado?</td>
                <td>Verify/Delete</td>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td>{{user._id}}</td>
                <td>{{user.verify}}</td>
                <td>
                <button class="btn btn-success btn-sm"ng-click="verifyUser(user._id)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                <button class="btn btn-danger btn-sm" ng-click="deleteUser(user._id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>

            </tr>
        </table>
    </div>
</div>